
@{
    ViewBag.Title = "Trang quản trị hệ thống";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*Tiêu đề*@
<div class="main-content">
    <div class="breadcrumbs ace-save-state breadcrumbs-fixed" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>

            <li>
                <a href="#">UI &amp; Elements</a>
            </li>
            <li class="active">Typography</li>
        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div><!-- /.nav-search -->
    </div>

    @*Nội dung*@
    <div class="page-content">
        <h2>Trang quản trị</h2>
    </div>
</div>