<footer>
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-md-9">
                    <div class="subscribe-form">
                        <span>Đăng ký nhận tin tức từ website</span>
                        <form method="get" class="subscribeForm">
                            <input id="subscribe" type="text" />
                            <input type="submit" id="submitButton" />
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="social-bottom">
                        <span>Mạng xã hội</span>
                        <ul>
                            <li><a href="http://www.fb.com/TatChu.IT" class="fa fa-facebook"></a></li>
                            <li><a href="http://www.fb.com/TatChu.IT" class="fa fa-twitter"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-footer">
            <div class="row">
                <div class="col-md-3">
                    <div class="about">
                        <h4 class="footer-title">Giới thiệu về hệ thống</h4>
                        <p>
                            Website <span class="blue">Boss</span><span class="green">CF</span> là hệ thống quản lý trực tuyến các hoạt động kinh doanh của quán Cafe Hội quán Hòn Chồng
                            <br><br>Website được xây dựng bởi công ty <a rel="nofollow" href="http://dichvuso.xyz">BossSoft Solution</a> gồm các thành viên:
                            <br /><i class="fa fa-user-md"></i> &emsp; Nguyễn Tất Chủ
                            <br /><i class="fa fa-user-md"></i> &emsp; Nguyễn Thành Luân
                            <br /><i class="fa fa-user-md"></i> &emsp; Lại Việt Dũng
                            <br /><i class="fa fa-user-md"></i> &emsp; Lê Thị Mận
                            <br /><br />Nha Trang, tháng 09/2014
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="shop-list">
                        <h4 class="footer-title">Danh mục website</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Thực đơn</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Bài viết - Tin tức</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Giới thiệu</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Hệ thống nhân viên</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Hệ thống quản lý</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Đóng góp - Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="recent-posts">
                        <h4 class="footer-title">Tin tức mới</h4>
                        <div class="recent-post">
                            <div class="recent-post-thumb">
                                <img src="~/Assets/images/recent-post1.jpg" alt="">
                            </div>
                            <div class="recent-post-info">
                                <h6><a href="#">Tổ chức trung thu 2016</a></h6>
                                <span>24/08/2016</span>
                            </div>
                        </div>
                        <div class="recent-post">
                            <div class="recent-post-thumb">
                                <img src="~/Assets/images/recent-post2.jpg" alt="">
                            </div>
                            <div class="recent-post-info">
                                <h6><a href="#">Đêm nhạc cụ dân tộc</a></h6>
                                <span>18/09/2016</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="more-info">
                        <h4 class="footer-title">Thông tin BossCF</h4>
                        <p></p>
                        <ul>
                            <li><i class="fa fa-phone"></i><a href="callto:0969369499">(+84) 969 369 499</a></li>
                            <li><i class="fa fa-globe"></i>02 - Nguyễn Đình Chiểu, Vĩnh Thọ, Nha Trang, Khánh Hòa</li>
                            <li><i class="fa fa-envelope"></i><a href="mailto:tatchu.it@gmail.com">tatchu.it@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <p>
                <span>
                    Copyright © @DateTime.Now.Year <a href="http://dichvuso.xyz">BossCafe &amp; Entertaiment</a>
                    | Developed by: <a rel="nofollow" href="http://www.dichvuso.xyz" target="_parent"><span class="blue">The</span><span class="green">Boss</span></a>
                </span>
            </p>
        </div>

    </div>
</footer>
