
@{
    ViewBag.Title = "Giới thiệu về BossSoft";
    Layout = "~/Views/Shared/_MenyOnlyLayout.cshtml";
}


<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>BossSoft</h2>
                    <span>Home / <a href="about-us.html">Về BossSoft</a></span>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="timeline-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Chúng tôi là ai?</h2>
                    <img src="~/Assets/images/under-heading.png" alt="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Công ty BossSoft</h3>
                <p>Công ty BossSoft, tên đầy đủ BossSoft Solution đang trong quá trình hoạt động thử nghiệm chờ cấp phép hoạt động chính thức. Công ty chúng tôi có 3 năm kinh nghiệm trong lĩnh vực xây dựng phát triển website tin học hóa các vấn đề trong phát triển của các công ty du lịch, kinh doanh, ...</p>
            </div>
            <div class="col-md-6">
                <h3>Đội ngũ nhân viên</h3>
                <p>Hệ thống nhân lực được tuyển chọn kỹ càng có đầy đủ tố chất và năng lực giúp quý khách hàng ...</p>
            </div>
        </div>

        <div class="space50"></div>

        <div class="row">
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="~/Assets/images/timeline1.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Ăn sáng</h4></a>
                            <p>06:00  - 11:00 </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="~/Assets/images/timeline2.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Giái khát</h4></a>
                            <p>06:00 - 22:00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="~/Assets/images/timeline3.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Nhạc cụ dân tộc</h4></a>
                            <p>19:00 Thứ 4 hàng tuần</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="~/Assets/images/timeline4.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Du lịch</h4></a>
                            <p>06:00 - 18:00</p>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="~/Assets/images/timeline5.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Dinner</h4></a>
                            <p>8:20 PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="~/Assets/images/timeline6.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Dinner</h4></a>
                            <p>9:10 PM</p>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>


<div id="our-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Đội ngũ nhân viên</h2>
                    <img src="~/Assets/images/under-heading.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="authors">
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="author">
                            <img src="~/Assets/images/theboss.jpg" height="256" width="588" alt="Tracy - templatemo">
                        </div>
                        <div class="overlay">
                            <div class="author-caption">
                                <ul>
                                    <li><a href="http://fb.com/tatchu.it"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-details">
                        <h2>Nguyễn Tất Chủ</h2>
                        <span>CEO - DEVELOPER - DESIGNER</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="author">
                            <img src="~/Assets/images/thanhluan.JPG" height="256" width="588" alt="Mary - templatemo">
                        </div>
                        <div class="overlay">
                            <div class="author-caption">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-details">
                        <h2>Nguyễn Thành Luân</h2>
                        <span>Business Analisis</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="author">
                            <img src="~/Assets/images/leman.jpg" height="256" width="588"  alt="Julia - templatemo">
                        </div>
                        <div class="overlay">
                            <div class="author-caption">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-details">
                        <h2>Lê Thị Mận</h2>
                        <span>Tester</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="author">
                            <img src="~/Assets/images/vietdung.jpg"  height="256" width="588" alt="Linda - templatemo">
                        </div>
                        <div class="overlay">
                            <div class="author-caption">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-details">
                        <h2>Lại Việt Dũng</h2>
                        <span>Employer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="testimonails">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Danh hiệu và nhận xét</h2>
                    <img src="~/Assets/images/under-heading.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="testimonails-slider">
                    <ul class="slides">
                        <li>
                            <div class="testimonails-content">
                                <p>Nam nec risus feugiat dui ultrices dignissim. Morbi ex purus, commodo a tristique eu, mollis a nisi. Pellentesque in enim sit amet tellus ornare fringilla eget eu arcu. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                                <h6>Jennifer - <a href="#">Chief Designer</a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="testimonails-content">
                                <p>Fusce fermentum libero fringilla odio pharetra malesuada. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam ultrices lectus quis consequat fringilla. Mauris non ex et purus sollicitudin.</p>
                                <h6>Laureen - <a href="#">Marketing Executive</a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="testimonails-content">
                                <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                                <h6>Tanya - <a href="#">Creative Director</a></h6>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
